body {
    font-family: Arial, Verdana, sans-serif;
}

header {
    height: 150px;
    max-width: 840px;
 }

main, header, body {
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 70px;
}

.logo {
    max-width: 250px;
}

a {
    color: white;
}

img{
    max-width: 100%;
    }

nav {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 50px;
}

.cta-button, .submitButton {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2A7497;
    border-radius: 20px;
}

.cta-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    text-align: center;
}

h2 {
    color: black;
    padding-bottom:8px;
}

p {
    text-align: left;
    margin-bottom: 40px;
}

.info {
    margin-bottom: 10px;
}

.text {
    padding-left: 30px;
}

.sizes {
    display: flex;
    gap: 8px;
}

.size {
    display: inline;
    max-width: 10px;
    padding: 20px;
    background-color: #2a749735;
    border-radius: 10px;
}

.size:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Container holding the image and the text */
.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    max-width: 840px;
  }

.category-item {
    position: relative;
    padding: 3px;
    margin-bottom: 15px;
    display: inline-block;
}

.category-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Centered text */
.activity {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    opacity: 90%;
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.62);
  }

footer {
    background-color: #2A7497;
    height:20px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerText {
    color: white;
    padding: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.info_background {
    /*background: url(../Images/background_about.png) no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh; display: flex; flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;*/
    max-width: 750px;
    min-height: 370px;
    margin: auto;
    padding-top: 10px;
}

.aboutImage {
    max-width: 750px;
    max-height: 150px;
}

.signature {
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

@media(max-width: 600px){
    nav {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .activity {
        font-size: 40px;
    }

    .category-item {
        position: relative;
        padding: 3px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .info_background  {
        margin-top: 20px;;
        max-width: 280px;
    }

    .info {
        max-width: 280px;
    }

    .text {
        max-width: 280px;
    }

    .aboutImage {
        max-width: 290px; 
    } 
}